<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="checkBox_text" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBox_gift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBox_sir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBox_suffix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBox_latiaoCounter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBox_blockDuplicate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="double_countdown" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="str_TTSChinese" serializeAs="String">
                <value />
            </setting>
            <setting name="str_TTSJapanese" serializeAs="String">
                <value />
            </setting>
            <setting name="str_TTSEnglish" serializeAs="String">
                <value />
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>